.hidden {
    display: none;
}

.changing {
    background-color: #f0f0f0;
    border: 2px dashed #64b7ff;
}

.busy {
    background-color: #f0f0f0;
    border: 2px dashed #64b7ff;
    font-size: 2em;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    text-align: center;
}

h1 {
    /*! border: 4px solid #b5e3db; */
    background-color: #e8e7e3;
    color: #1c4a42;
    margin-bottom: 1rem;
}

.header {
    background-color: #f4f3f1;
}

#outputColonies {
    background-color: #f4f3f1;
    border: 1px solid #b5e3db;
    margin: 1rem;
    padding: 1rem;
}